<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roy.demo.dao.LogInfoMapper">
	<resultMap id="BaseResultMap" type="com.roy.demo.model.LogInfo">
		<result column="userName" property="userName" jdbcType="CHAR" />
		<result column="operation" property="operation" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		userName, operation
	</sql>
	
	<insert id="addLog" parameterType="com.roy.demo.model.LogInfo">
		insert into log_info (
		userName, operation
		)
		values (
		#{userName,jdbcType=CHAR},
		#{operation,jdbcType=CHAR}
		)
	</insert>
	
	</mapper>